<qa-header></qa-header>
<div class="wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <h2 class="title">{{'sign_up' | translate}}</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-4 col-sm-7">
        <div class="wrapper-form">
          <form class="sign-up" [formGroup]="signUp" (submit)="onSubmit(signUp)">
            <!--<div class="server-error"-->
                 <!--*ngIf="serverError"-->
            <!--&gt;-->
              <!--<odds-error [form]="signUp" [errors]="serverError" [errorName]="'none_field'"></odds-error>-->
            <!--</div>-->
            <mat-form-field>
              <input matInput [placeholder]="'name' | translate" formControlName="username" type="text">
              <!--<mat-error *ngIf="signUp.get('name').invalid">{{getErrorMessage(signUp.get('name'))}}</mat-error>-->
              <qa-error class="server-error1" *ngIf="serverError" [form]="signUp" [errors]="serverError" [errorName]="'username'"></qa-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput [placeholder]="'email' | translate" formControlName="email" type="email">
              <!--<mat-error *ngIf="signUp.get('email').invalid">{{getErrorMessage(signUp.get('email'))}}</mat-error>-->
              <qa-error class="server-error1" *ngIf="serverError" [form]="signUp" [errors]="serverError" [errorName]="'email'"></qa-error>

            </mat-form-field>

            <mat-form-field>
              <input matInput [placeholder]="'password' | translate" formControlName="password1" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <!--<mat-error *ngIf="signUp.get('password').invalid">{{getErrorMessage(signUp.get('password'))}}</mat-error>-->
              <qa-error class="server-error1" *ngIf="serverError" [form]="signUp" [errors]="serverError" [errorName]="'password1'"></qa-error>
            <!---->
            </mat-form-field>

            <mat-form-field>
              <input matInput [placeholder]="'confirm_password' | translate" formControlName="password2" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <!--<mat-error *ngIf="signUp.get('password').invalid">{{getErrorMessage(signUp.get('password'))}}</mat-error>-->
              <qa-error class="server-error1" *ngIf="serverError" [form]="signUp" [errors]="serverError" [errorName]="'password2'"></qa-error>
            </mat-form-field>

            <button type="submit" mat-raised-button class="btn-submit btn-width"
                    [disabled]="signUp.invalid"
                    [class.valid]="signUp.valid"
            >
              {{'sign_up' | translate}}
            </button>
          </form>
        </div>
        <div class="have-account">
          {{'have_account' | translate}} <a class="link login" routerLink="/auth/sign-in">{{'login' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

