@import '../../../styles/variables';
:host {
  display: block;
}
.wrapper {
  padding-bottom: 1.25em;
  position: relative;
}

.mat-form-field-subscript-wrapper {
  position: absolute;
  width: 100%;
  font-size: 75%;
  margin-top: .54167em;
  top: calc(100% - 1.66667em);
}

.none {
  display: none;
}

.no-found {
  margin-top: 4px;
  padding: 7px 10px;
  border: 1px solid #dadada;
  border-radius: 4px;
  color: $light-gray;
  font-family: 'Amiko', sans-serif;
  font-size: 13px;
}
