<qa-header></qa-header>
<div class="wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <h2 class="title">{{'sign_in' | translate}}</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4 col-sm-7">
        <form [formGroup]="signIn" (submit)="onSubmit( signIn)">
          <div class="server-error"
               *ngIf="serverError"
          >
            <qa-error-non [form]="signIn" [errors]="serverError" [errorName]="'non_field_errors'"></qa-error-non>
          </div>
          <div class="form-name">
            <mat-form-field>
              <input matInput [placeholder]="'name' | translate" formControlName="username" type="text">
              <!--<mat-error *ngIf="signUp.get('name').invalid">{{getErrorMessage(signUp.get('name'))}}</mat-error>-->
              <!--<odds-error class="server-error1" *ngIf="serverError" [form]="signUp" [errors]="serverError" [errorName]="'name'"></odds-error>-->
            </mat-form-field>
            <mat-form-field>
              <input matInput [placeholder]="'email' | translate" formControlName="email" type="email">
              <!--<mat-error *ngIf="signIn.get('email').invalid">{{getErrorMessage(signIn.get('email'))}}</mat-error>-->
            </mat-form-field>
          </div>
          <div class="form-password">
            <mat-form-field>
              <input matInput [placeholder]="'password' | translate" formControlName="password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <!--<mat-error *ngIf="signIn.get('password').invalid">{{getErrorMessage(signIn.get('password'))}}</mat-error>-->
            </mat-form-field>
          </div>

          <button type="submit" mat-raised-button class="btn-submit btn-width"
                  [ngStyle]="{'font-size': fortSize}"
                  [disabled]="signIn.invalid"
                  [class.valid]="signIn.valid"
          >
            {{'sign_in' | translate}}
          </button>

        </form>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4 col-sm-7">
        <p class="no-account">
          {{'no_account' | translate}} <a class="link" [routerLink]="['/auth/sign-up']">{{'sign_here' | translate}}</a>
        </p>
      </div>
    </div>
  </div>
</div>
