@import "../../styles/variables";

.wrapper {
  margin-top: 30px;
  background-color: rgba(112, 109, 127, 0.08);
}

.title {
  color: $accent-gray;
  padding: 35px 15px;
  font-family: 'Amiko', sans-serif;
  font-size: 20px;
}

.btn {
  background-color: $orange !important;
  padding: 10px 10px;
  font-size: 18px;
  border-radius: 4px;
  font-family: 'Amiko', sans-serif;
  display: block;

  &-width {
    width: 50%;
    color: #fff;
    margin: 0 auto;
  }
}

.block-orders {
  max-height: 80vh;
  overflow: auto;
}
