<qa-header></qa-header>
<div class="wrapper">
  <div class="section-bet-feed">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-12 col-lg-4 ">
          <div class="orders-header">
            <h2 class="title">
              {{'allOrdersList' | translate}}
            </h2>
            <button type="button" mat-raised-button class="btn btn-width"
                    (click)="openModal()"
            >
              {{'addOrder' | translate}}
            </button>
          </div>
          <div class="block-orders">
            <qa-orders-bay [orders]="orders"
                           (editOrder)="onEditOrder($event)"
                           (deleteOrder)="onDeleteOrder($event)"
            ></qa-orders-bay>
          </div>
        </div>
        <div class="col-12 col-lg-8 ">
          <div class="block-table-result">
            <div class="orders-header orders-history">
              <h2 class="title">
                 {{'history' | translate}}
              </h2>
            </div>
            <qa-history-orders [historyList]="historyList"></qa-history-orders>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

