<qa-header></qa-header>
<div class="wrapper">
  <div class="section-bet-feed">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-12 col-lg-4 ">
          <div class="block-orders">
            <button type="button" mat-raised-button class="btn btn-width"
                    (click)="openModal()"
            >
              Add Order
            </button>
            <qa-orders-bay [orders]="orders"
                           (editOrder)="onEditOrder($event)"
            ></qa-orders-bay>
          </div>
        </div>
        <div class="col-12 col-lg-8 ">
          <div class="block-table-result">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

