<div class="wrapper-faq">
  <div class="faq-accordion">
    <mat-accordion *ngIf="historyList?.length">

      <mat-expansion-panel [hideToggle]="true" *ngFor="let item of historyList">
        <mat-expansion-panel-header>
          <span class="close"></span>
          <mat-panel-title>
            <p class="faq-title">
              <span class="order-text">{{'buying_order_name' | translate}}: </span>
              <span class="order-name"> {{item.buyingOrder.name}}</span>
            </p>
          </mat-panel-title>
          <mat-panel-description>
            <p class="order-cost">
              <span class="order-text">{{'cost' | translate}}: </span>
              <span class="order-name"> {{item.buyingOrder.cost}}</span>
            </p>
            <p class="order-cost">
              <span class="order-text">{{'quantity' | translate}}: </span>
              <span class="order-name"> {{item.quantity}}</span>
            </p>
            <p class="order-cost">
              <span class="order-text">{{'status' | translate}}: </span>
              <span class="order-name"> {{item.buyingOrder.status[0].name}}</span>
            </p>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="faq-description">
          <p class="order-cost">
            <span class="order-text">{{'selling_order_name'| translate}}: </span>
            <span class="order-name"> {{item.sellingOrder.name}}</span>
          </p>
          <p class="order-cost">
            <span class="order-text">{{'cost' | translate}}: </span>
            <span class="order-name"> {{item.sellingOrder.cost}}</span>
          </p>
          <p class="order-cost">
            <span class="order-text">{{'quantity' | translate}}: </span>
            <span class="order-name"> {{item.quantity}}</span>
          </p>
          <p class="order-cost">
            <span class="order-text">{{'status' | translate}}: </span>
            <span class="order-name"> {{item.sellingOrder.status[0].name}}</span>
          </p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
