@import "../../../styles/variables";
.item-order {
  margin-top: 15px;
  margin-bottom: 10px;
}

.btn {
  background-color: $orange !important;
  padding: 4px 5px;
  font-size: 14px;
  border-radius: 4px;
  font-family: 'Amiko', sans-serif;
  display: block;

  &-width {
    width: 33%;
    color: #fff;
    margin: 0 auto;
  }
}
