<div class="wrapper" *ngIf="orders?.length">
  <mat-card class="item-order" *ngFor="let order of orders">
    <mat-card-title>
      <span class="order-text">{{'order_name' | translate}}: </span>
      <span class="order-name">{{order?.name}}</span>
    </mat-card-title>
    <mat-card-subtitle>
      <div class="description-wrapper">
        <p>{{'order_cost' | translate}}: <span>{{order?.cost}}</span></p>
        <p>{{'order_quantity' | translate}}: <span>{{order?.quantity}}</span></p>
      </div>
     <div class="description-wrapper">
       <p>{{'order_status' | translate}}: <span>{{order?.status[0]['name']}}</span></p>
       <p>{{'bid_type' | translate}}: <span>{{order?.bidType[0]['name']}}</span></p>
     </div>
    </mat-card-subtitle>
    <mat-card-actions>
      <div class="action">
        <button type="button" mat-raised-button class="delete"
                (click)="onDelete(order)"
        >
          {{'btn_del' | translate}}
        </button>
        <button type="button" mat-raised-button class="btn btn-width"
                (click)="onEdit(order)"
        >
          {{'btn_edit' | translate}}
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
